<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Quiénes Somos - Tu Empresa</title>
</head>
<body>

  <header class="bg-primary text-white text-center py-4">
    <h1>STORE UNISEX</h1>
  </header>

  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2 class="text-center mb-4">Quiénes Somos</h2>
        <p>
          Bienvenido a Store unisex, tu destino para encontrar la mejor moda para hombres y mujeres.
          Nos dedicamos a ofrecer ropa y calzado de alta calidad con estilo y comodidad inigualables.
        </p>
        <p>
          En Store unisex, nos esforzamos por seguir las últimas tendencias de la moda, garantizando
          que encuentres prendas que se adapten a tu estilo único. Ya sea que busques ropa casual,
          elegante o deportiva, ¡tenemos algo para todos!
        </p>
        <p>
          Nuestro compromiso con la calidad y la satisfacción del cliente nos distingue.
          Trabajamos arduamente para brindarte una experiencia de compra excepcional.
        </p>
      </div>
    </div>
  </div>

  <footer class="bg-dark text-white text-center py-3 mt-4">
    <p>&copy; 2023 Store unisex. Todos los derechos reservados.</p>
  </footer>

  

</body>
</html>
