<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Políticas - Store Unisex</title>
</head>
<body>

  <header class="bg-primary text-white text-center py-4">
    <h1>Store unisex</h1>
  </header>

  <div class="container mt-4">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h2 class="text-center mb-4">Políticas de Privacidad y Devoluciones</h2>

        <h3>Política de Privacidad</h3>
        <p>
          En Store unisex, nos tomamos en serio la privacidad de tus datos. Toda la información
          que nos proporciones será tratada de manera confidencial y utilizada únicamente para
          procesar tus pedidos y mejorar tu experiencia de compra. No compartiremos tus datos
          con terceros sin tu consentimiento.
        </p>

        <h3>Devoluciones</h3>
        <p>
          Aceptamos devoluciones dentro de los 30 días posteriores a la compra. Si no estás satisfecho
          con tu pedido, contáctanos y te proporcionaremos las instrucciones necesarias para procesar
          la devolución. Ten en cuenta que algunos productos pueden tener restricciones de devolución,
          así que asegúrate de revisar las políticas específicas de cada artículo.
        </p>

        <p>
          Para obtener más detalles sobre nuestras políticas de privacidad y devoluciones, no dudes en
          contactarnos a través de nuestro servicio de atención al cliente.
        </p>
      </div>
    </div>
  </div>

  <footer class="bg-dark text-white text-center py-3 mt-4">
    <p>&copy; 2023 Store unisex. Todos los derechos reservados.</p>
  </footer>



</body>
</html>
